// colors
$accentColor = #6f8eff
$textColor = #adadad
$borderColor = #111111
$codeBgColor = #101010
$bodyColor = #aaee55
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 4.6rem
$sidebarWidth = 20rem
$contentWidth = 960px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

